/* fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html *
{
    /*font-family: 'Roboto', sans-serif;*/
}

body {
    /*image source: https://www.freepik.com/free-photos-vectors/background*/
    background-image: url(img/footer_lodyas.png);
    background-repeat: repeat;
}

.sidebar_container {
    background-color: #666;
    padding: 20px;
    padding-bottom: 60px;
    margin-top: 40px;
}

.search_btn {
    height: 41px;
    padding-top: 10px;
    float: right;
}

.AllChosenCourses {
    list-style: none;
}

.CourseBox {
    padding-bottom: 10px;
    background-color: white;
    margin-bottom: 5px;
}

.rmButton {
    height: 40px;
    padding: 5px 20px;
    float: right;
    margin-top: -60px;
}

.card-body {
    height: 80px;
}

.clashHour {
    float: right;
    margin-top: -25px;
    margin-bottom: -20px;
    display: inline-block;
    width: 150px;
}

.timetable_container {
    background-color: #666;
    padding: 15px;
    margin-top: 40px;
}

.current_sem {
    height: 40px;
    width: 75%;
    float: left;
    padding-left: 10px;
    color: #CCC;
}

.help_button {
    background-color: #CCC;
    float: right;
    width: 60px;
    height: 30px;
    font-size: 10pt;
    color: #666;
    text-transform: none;
    padding: 4px 0;
}

.panel-body {
    margin-top: 40px;
    background-color: black;
}

.button_container {
    display: flex;
    margin-top: 20px;
}

a {
    color: black;
}

a:hover {
    color: #3399FF;
    text-decoration: none;
}
