{% extends 'base.html' %}
{% block content %}
<!-- <div class="random">hello<div> -->
<head>
    <meta charset="utf-8">
    <title>Bojangles Timetabler</title>

    <!-- timetable class colours -->
    <!--    blue        #3399ff
     green       #00cc66
     red         #ff6666
     purple      #9966cc
     teal        #33cccc
     yellow      #ffcc00
     -->
</head>

<body>
        <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12" style="background-color:#666;padding-top:20px;padding-left:100px;padding-bottom:20px;">
                <h1 style="color:white; font-weight:bold; font-size:30pt">Bojangles Timetabler</h1>
            </div>
        </div>

        <div class="row">
            <!-- sidebar column -->
            <div class="col-12 col-md-5">
                
                <div id="app" class="sidebar_container">
                {% raw %}
                    <!-- input classes -->
                    <div class="input-group" style="padding: 0 10px 25px 15px;">
                        <input style="width: 85%; height: 30px; padding-left: 10px;" type="text" class="form-control"
                           :placeholder="getPlaceholder"
                           id="course-search"
                           v-on:keypress="addCourse" :disabled="this.chosenCourseFull"/>
                        <div class="input-group-append">
                            <button id="add-btn" class="btn btn-primary search_btn"
                                v-on:click="addCourse"
                                :disabled="this.chosenCourseFull">
                                Add
                            </button>
                        </div>
                    </div>

                    <!-- show classes list -->
                    <ul class="AllChosenCourses list-group" v-for="(course, index) in chosenCourse" :key="course.code">
                        <li class="CourseBox">
                            <div class="card-body">
                                <h4 class="card-title p_course_code">
                                    <a target="__blank" :href="getCoursePage(course.code)">
                                        {{course.code}}
                                    </a>
                                </h4>
                                <p class="card-text p_course_name">{{course.desc}}</p>
                                <button type="button" class="btn btn-danger"
                                    v-on:click="deleteCourse(index)"
                                    style="float: right; margin-top: -60px; background-color: #f44336; color: white">
                                    Remove
                                </button>
                            </div>
                        </li>
                    </ul>

                    <!-- sorting option -->
                    <div style="margin: 20px 0px;">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center" draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)" data-id="random">
                            Randomised
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)" data-id="sleep">
                            Sleep in time
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)" data-id="afternoon">
                            Afternoons free
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)" data-id="days">
                            Least days
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)" data-id="hours">
                            Least hours
                        </li>
                    </ul>
                    </div>
                    <!-- full classes -->
                    <div class="form-group" style="padding-left: 15px; diaplay: inline">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" checked="" data-com.agilebits.onepassword.user-edited="yes">
                                <label class="custom-control-label" for="customCheck1" style="margin-top: -20">Include full classes</label>
                        </div>

                        <!-- clash hours -->
                        <div class="clashHour" style="color: white; float: left; margin-top: 5px;">
                            <select class="custom-select" style="float: right; width: 50px">
                                <option selected="">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="3">9</option>
                            </select>
                            <p>Clash Hours</p>
                        </div>
                    </div>

                    <!-- Generate and Reset Buttons-->
                    <div id="button_container" style="margin-top: 20px">
                        <button type="button" class="btn btn-info" style="float: left;">Generate</button>
                        <button type="button" class="btn btn-danger" style="float: right;">Reset all</button>
                    </div>

                </div>
                {% endraw %}
            </div>

            <!-- timetable column -->
            <div class="col-12 col-md-7" style="padding-bottom:30px;">
                <!-- timetable area -->
                <div class="timetable_container"> <!-- extends bootstrap theme container -->
                    <div class="current_sem">
                        <p>Current Viewable Semester: <b> 2018 Semester 2 </b></p>
                    </div>
                    <!-- Help button -->
                    <button type="button" class="btn btn-secondary help_button" data-toggle="modal" data-target="#helpModal">Help <img src="static/img/question_mark_PNG99.png" alt="?" style="width:15px;height:15px;"></button>

                    <!-- actual timetable -->
                    <!-- original timetable start (from tdransfield)-->
                    <!-- I have no idea how to resize this-->
                    <div class="panel-body" id="bojangle-area">
                        <br>
                        <div class="canvas-container" style="position: relative; user-select: none; width: 688px; height: 895px;">
                            <canvas id="timetable" data-toggle="tooltip" data-placement="top" title="" class="lower-canvas" width="1436" height="1867" style="position: absolute; left: 0px; top: 0px; user-select: none; width: 688px; height: 895px;" data-original-title="Drag and drop your classes"></canvas>
                            <canvas class="upper-canvas " width="1436" height="1867" style="position: absolute; left: 0px; top: 0px; user-select: none; cursor: default; width: 688px; height: 895px;"></canvas>
                        </div>
                    </div>
                     <!-- Original timetable end-->
                     <div class="button_container" style="display: flex;">
                        <button type="button" class="btn" style="float:left;">Prev</button>
                        <button type="button" class="btn btn-info" style="margin: auto;">Save as image</button>
                        <button type="button" class="btn" style="float:right;">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
        
    <!-- Help Modal -->
    <div class="modal">
        <div id="helpModal" class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Bojangles Help</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Need to change this blah blah blah..... also add in an image to help</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>


{% endblock %}
{% block scripts %}
<script src="../static/jquery-3.3.1.min.js" charset="utf-8"></script>
<script src="../static/jquery.autocomplete.min.js" charset="utf-8"></script>
<script charset="utf-8">
    var currentSem = 'S2';

    // fetch course names
    fetch('/api/courses/' + currentSem)
        .then(resp => resp.json()) // Transform the data to JSON
        .then(rawJSON => rawJSON.map( // Transform to the format to feed autocomplete
                entry => {
                    return {
                        value: `${entry[0]} - ${entry[1]}`,
                        code: entry[0],
                        desc: entry[1]
                    }
                }
        ))
        .then(data => {
            // init autocomplete
            $('#course-search').autocomplete({
                autoSelectFirst: true,
                tabDisabled: true,
                lookup: data,
                lookupLimit: 5,
                onInvalidateSelection: function(){
                    vm.currentCourse = false;
                },
                onSelect: function(suggestion){
                    vm.currentCourse = {
                        code: suggestion.code,
                        desc: suggestion.desc
                    };
                },
            });
        });

    var vm = new Vue({
        el: '#app',
        data: {
            currentCourse: false,
            chosenCourse : []
        },
        methods: {
            // bind to both click for button and keypress for input
            addCourse: function(e){
                if(e.type == 'keypress' && e.key != 'Enter') return;
                if(this.currentCourse && !this.doesCourseExist(this.currentCourse))
                    this.chosenCourse.push(this.currentCourse);
                this.currentCourse = false;
                $('#course-search').val('');
                // TODO: call to canvas interface

            },
            deleteCourse: function(i){
                // TODO: call to canvas interface

                this.chosenCourse.splice(i, 1);
            },
            doesCourseExist: function(course){
                for(i in this.chosenCourse){
                    if(this.chosenCourse[i].code == course.code) return true;
                }
                return false;
            },
            getCoursePage(courseCode){
                return `http://www.handbook.unsw.edu.au/undergraduate/courses/2018/${courseCode}.html`;
            }
        },
        computed: {
            getPlaceholder: function(){
                return  this.chosenCourseFull ? 
                    'You can at most add 5 courses':
                    'Type here to search for course';
            },
            chosenCourseFull: function(){
                return this.chosenCourse.length > 4;
            }
        }
    });
</script>
{% endblock %}
